body {
  overflow-x: hidden;
}
.slider {
  margin: auto;
  width: 90%;
  display: grid;
  position: absolute;
  place-items: down;
  perspective: 100px;
}
.slider-track {
  display: flex;
  width: calc(250px * 18);
  position: absolute;
  top: 100%;
  background: transparent;
  animation: scroll 50s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide {
  height: 180px;
  width: 230px;
  display: flex;
  align-items: center;
  padding: 0px;
}
.slide:hover {
  height: 230px;
  width: 280px;
  scroll-behavior: smooth;
}
img {
  width: 90%;
  height: 100%;
  transition: transform 1s;
}
